@import '../globalVars.css';

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
.messageWrapper {
  position: fixed;
  top: 2rem;
  width: 100%;
  text-align: center;
  z-index: 5;
  }
.messageWrapper div {
  background-color: rgba(53, 53, 53, .85);
  border-radius: .5rem;
  display: inline;
  padding: .75rem;
}
.messageWrapper p {
  color: var(--color-body-text);
  display: inline;
}
.show {
  visibility: visible;
  opacity: 1;
  animation: .25s fadeIn forwards;
}
.hide {
  visibility: hidden;
  opacity: 0;
  animation: .25s fadeOut forwards;
}