@import '../globalVars.css';

li {
    list-style-type: none;
    margin: 1rem;
    border-bottom: 1px solid ;
    display: flex;
    justify-content: space-between;
}
.trackWrapper {
    display: flex;
    gap: 1rem;
}
.trackText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.trackText > * {
    margin: 0;
}
.trackTitle {
    font-size: 1rem;
}
.trackDetails {
    font-size: .9rem;
    display: flex;
    gap: 2rem;
}
.plusIcon {
    color: var(--color-secondary);
    font-size: 2rem;
}