@import './globalVars.css';

/*** Header Styles ***/
header {
  padding: 2rem 1rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
header .logo {
  background-color: var(--color-secondary);
  border-radius: 50%;
  height: 100px;
  width: 100px;
  text-align: center;
}
h1 {
  color: var(--color-primary);
  font-size: 4rem;
}

/*** Main Styles ***/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*** Footer Styles ***/