@import './globalVars.css';

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--color-bg-offset);
}
p,a,h1,h2,h3,h4,h5,h6,li,td,input,label {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  color: var(--color-body-text);
}
h1 {
  font-size: 2rem;
}